/**************/
/* CSS REMEDY */
/**************/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Colors */
:root {
	--color-gray-dark: #393939;
	--color-white: rgb(255, 255, 255);
	--color-pink-100: #f8f1f4;
	--color-pink-200: #e7dae2;
	--color-pink-300: #efd7e5;
	--color-pink-500: #b3848f;
}

/* Fonts styling */
:root {
	--font-family1: "TTChocolatesTrl-Regular";
	--font-family2: "UniversLTStd-Bold";
	--font-family3: "Arial";
	--font-size-small: 12px;
	--font-size-medium: 16px;
	--font-size-large: 25px;
	--line-height: 1.5;
	--letter-spacing: 0.05em;
}

/*********************/
/*       General     */
/*********************/

body {
	font-family: var(--font-family1);
	background-color: var(--color-white);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header nav ol {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 100%;
}

header nav ol li {
	margin: 0 10px;
	display: flex;
	align-items: center;
}

header nav ol li svg {
	width: 10em;
	height: auto;
	color: var(--color-gray-dark);
	text-align: center;
	margin-top: 10px;
}

header p {
	background-color: var(--color-pink-300);
	line-height: var(--line-height);
	font-family: var(--font-family3);
	text-align: center;
	font-size: 13px;
	width: 100%;
}

section ol,
article ol,
article ul,
section ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

p {
	font-size: var(--font-size-medium);
	line-height: var(--line-height);
	color: var(--color-gray-dark);
}

h1,
h2,
h3 {
	font-size: var(--font-size-large);
	font-family: var(--font-family2);
	line-height: var(--line-height);
	color: var(--color-pink-500);
	text-align: center;
	text-transform: uppercase;
}

button {
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	text-decoration: none;
}


a {
	text-decoration: none;
}


/***************************************/
/*  General article styling products   */
/***************************************/
article {
	border-radius: 0.2em;
	border: 0.1em solid rgba(179, 132, 143, 0.5);

	background-color: var(--color-white);

	display: grid;
	margin: 1em 1.6em 0 1.5em;
	grid-template-rows: 38em max-content max-content;
	grid-template-columns: 1fr max-content;
}

/* img */
article img {
	width: 27em;
}

/* p - 1 */
article li:nth-of-type(2) p {
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: start;

	font-weight: bolder;
	font-size: var(--font-size-medium);
}

/* p - 3 */
article li:nth-of-type(3) p {
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: end;
	margin-top: -2.1em;
}

/* p - 4 */
article li:nth-of-type(4) p {
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: start;
}

/* stars review */
article section:has(li) {
	margin: .5rem .5rem 0 .5rem;
	display: flex;
	flex-direction: row;
}

/* button */
article button {
	background-color: var(--color-gray-dark);
	color: var(--color-pink-100);
	border-style: none;
	margin-top: 1em;
	padding: 1em 11.5em;
}


/****************/
/*  Home page   */
/****************/

/*  surface plane options   */
section:nth-of-type(1):has(button) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
	padding-top: 0.6em;
	margin-bottom: 1em;
}

section:nth-of-type(1):has(button) button {
	background-color: var(--color-pink-300);
	color: var(--color-pink-500);
	padding: 0.5em;
	border: 0.15em solid var(--color-pink-500);
	border-radius: 1em;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

section:nth-of-type(1):has(button) img {
	width: 1.5em;
}


/*******************************/
/*   Holiday gift guide list  */
/******************************/

/*   section*/
section:nth-of-type(2):has(h1) {
	background: var(--color-pink-100);
	height: 49em;
	gap: 0.8em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2em;
}

/*   image  */
section:nth-of-type(2):has(h1) img {
	max-width: 33em;
	clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);
}

/*   h1  */
section:nth-of-type(2):has(h1) h1 {
	width: 6em;
	margin-top: -6em;
}

/*   p  */
section:nth-of-type(2):has(h1) p {
	text-align: center;
}

/*   a, last type */
section:nth-of-type(2):has(h1) a:last-of-type {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	color: var(--color-gray-dark);
}



/*******************************/
/*  new products list */
/******************************/

/*  section */
section:nth-of-type(3):has(article) {
	background: var(--color-pink-100);
	padding-top: 5em;
}


/******************************/
/*  Online exclusive */
/*  Holiday Advent Calendar */
/******************************/

/*   section  */
section:nth-of-type(4):has(video) {
	background: var(--color-pink-100);
	height: 54em;
	padding-top: 2em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*   li  */
section:nth-of-type(4):has(video) li {
	background-color: var(--color-pink-100);
	display: flex;
	justify-content: center;
	padding: 0.3em;
}

/*   image  */
section:nth-of-type(4):has(video) img {
	max-width: 33em;
}

/*   h2  */
section:nth-of-type(4):has(video) h2 {
	width: 10em;
}

/*   p  */
section:nth-of-type(4):has(video) p {
	text-align: center;
	width: 25.5em;
}

/*   li 3 p  */
section:nth-of-type(4):has(video) li:nth-of-type(3) p {
	text-align: center;
	text-transform: uppercase;
	width: 25.5em;
	size: var(--font-size-medium);
	color: var(--color-pink-500);
	font-family: var(--font-family2);
}

/*   li 6 a  */
section:nth-of-type(4):has(video) li:nth-of-type(6) a {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	color: var(--color-gray-dark);
}

/*   video */
section:nth-of-type(4):has(video) li:nth-of-type(2) video {
	display: none;
}



/******************************/
/*  Holiday collection */
/*  holiday day paragraph */
/******************************/
/*   section */
section:nth-of-type(5):has(img) {
	background: var(--color-pink-100);
	height: 48em;
	padding-top: 1.2em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* img */
section:nth-of-type(5):has(img) img {
	border-radius: 1.5em;
	max-width: 28em;
	margin: 2em;
}

/*  ol  */
section:nth-of-type(5):has(img) ol {
	background-color: var(--color-white);
	border-radius: 1.3em;
	width: 28em;
	padding: 1.5em;
}

/*  p  */
section:nth-of-type(5):has(img) p {
	width: 23em;
	text-align: center;
	padding-bottom: 1em;
}

/*  a  */
section:nth-of-type(5):has(img) a {
	border-radius: 0.5em;
	border-color: transparent;
	border: 0.1em solid var(--color-gray-dark);
	padding: 0.6em 0.9em;
	color: var(--color-gray-dark);
}

/******************************/
/*        product holiday      */
/******************************/

/*  section */
section:nth-of-type(6):has(article) {
	background: var(--color-pink-100);
	padding-top: 1em;
	padding-bottom: 2em;
}

/* button*/
/* has gebruik */
section:nth-of-type(6):has(article) article:nth-of-type(1) li:nth-of-type(5) button,
section:nth-of-type(6):has(article) article:nth-of-type(2) li:nth-of-type(5) button {
	color: var(--color-gray-dark);
	border: 0.1em solid var(--color-gray-dark);
	background-color: transparent;
	margin-top: 1em;
	font-family: var(--font-family1);
}




/******************************/
/* Kylie gala look */
/******************************/

/*   article  */
.kylie-gala{
	background-color: var(--color-white);
	gap: 0.8em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2em;
}
/*   image  */
.kylie-gala img {
	max-width: 33em;
	height: auto;
}
/*  h2  */
.kylie-gala h2 {
	width: 15em;
}
/*  p  */
.kylie-gala p {
	width: 15em;
}
/*   a, last type */
.kylie-gala a:last-of-type {
	border-radius: 0.5em;
	border-color: transparent;
	border: 0.1em solid var(--color-gray-dark);
	padding: 0.6em 1.1em;
	color: var(--color-gray-dark);
}


/******************************/
/* other products */
/******************************/

/*  section */
section:nth-of-type(8):has(article) {
	background: var(--color-pink-100);
	padding-top: 5em 0;

}

/******************************/
/* Shop Holiday gift guide */
/******************************/
/*  section  */
section:nth-of-type(9) {
	background: var(--color-pink-100);
	height: 29em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 3em;

}
/*  container  */
section:nth-of-type(9) container {
	height: 17em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3em;
	margin: 2em;
}
/*  container img  */
section:nth-of-type(9) container img {
	width: 100%;
	height: 15em;
	border-radius: 0.3em;
}
/*  container p   */
section:nth-of-type(9) container p {
	color: var(--color-white);
	font-size: var(--font-size-large);
	font-family: var(--font-family2);
	line-height: var(--line-height);
	text-align: center;
	text-transform: uppercase;
	margin-top: -5.6em;
	width: 7.4em;
	text-align: center;
}
/*  a  */
section:nth-of-type(9) a:last-child {
	border-radius: 0.5em;
	border-color: transparent;
	border: 0.1em solid var(--color-gray-dark);
	padding: 0.6em 1.1em;
	color: var(--color-gray-dark);
	text-align: center;
	display: inline-block;
	margin: 2em auto 0 auto;
	max-width: 12em;
}

/******************************/
/* Visual try out */
/******************************/
/*  section  */
section:nth-of-type(10) {
	background: var(--color-pink-100);
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 41em;
	padding-top: 5em;
}
/*  h2  */
section:nth-of-type(10) h2 {
	color: var(--color-white);
	margin-top: -14.5em;
	font-size: 1.5em;
}
/*  img  */
section:nth-of-type(10) img {
	max-width: 28em;
	/* Maximale breedte */
	height: 35em;
	/* Specifieke hoogte */
	border-radius: 3em;
	/* Houdt de afgeronde hoeken */
	object-fit: cover;
	/* Zorgt ervoor dat de afbeelding wordt bijgesneden om de container te vullen */
	object-position: center;
}
/*  a  */
section:nth-of-type(10) a:last-child {
	border-radius: 0.5em;
	background-color: var(--color-white);
	padding: 0.8em 1.1em;
	color: var(--color-gray-dark);
	text-align: center;
}

/******************************/
/* Shop our IG */
/******************************/
/*  section  */
section:nth-of-type(11):has(img) {
	background-color: var(--color-pink-100);
	padding-top: 5em;
	text-align: center;
}
/*  h2  */
section:nth-of-type(11):has(img) h2 {
	margin-bottom: 2em;
}
/*  div  */
section:nth-of-type(11):has(img) .image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
}
/*  div a  */
section:nth-of-type(11):has(img) .image-grid a {
	display: inline-block;
	width: calc(50% - 1.7em);
	max-width: 18em;
	/* Limiteert de breedte */
}
/*  div img  */
section:nth-of-type(11):has(img) .image-grid img {
	border-radius: 2em;
	width: 100%;
	max-height: 17em;
}


/****************/
/*    Footer    */
/****************/


footer {
	background-color: var(--color-pink-100);
	color: var(--color-gray-dark);
	padding: 20px;
}
/*  ol  */
footer ol {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2em;
}
/*  button  */
footer button {
	background-color: transparent;
	color: var(--color-gray-dark);
	border: 1px solid var(--color-gray-dark);
}
/*  ol 1  */
footer ol:nth-of-type(1) {
	background-color: green;
	justify-content: start;

}
/*  ol li 1  */
footer ol:nth-of-type(1) li:first-child {
	width: 19em;
}
/*  ol li 2  */
footer ol:nth-of-type(2) {
	background-color: blue;
	justify-content: center;
}
/*  img  */
footer ol:nth-of-type(2) a img {
	height: 1.7em;
}
/*  ol 3  */
footer ol:nth-of-type(3) {
	background-color: purple;
	justify-content: center;
}
/*  ol 4  */
footer ol:nth-of-type(4) {
	background-color: hotpink;
	justify-content: center;
}
/*  p laatste  */
footer p:last-of-type {
	display: flex;
	justify-content: center;
}
/*  input  */
footer input {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	border: 1px solid var(--color-gray-dark);
	background-color: transparent;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 10px;
}


/******************************/
/* Reward page */
/******************************/

/* Uitleg rewards - section 1 met content */
section:nth-of-type(2):has(container) {
	background-color: #5c514a;
	height: auto;
}
/*  image  */
section:nth-of-type(2):has(container) img {
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 88%, 0 88%);
	background-color: var(--color-gray-dark);
}
/*   h1  */
section:nth-of-type(2):has(container) h1 {
	color: var(--color-white);
	width: 12em;
	padding-top: 4em;
}
/*   p  */
section:nth-of-type(2):has(container) p {
	text-align: center;
	color: var(--color-white);
}
/*  container*/
section:nth-of-type(2):has(h1) container {
	display: flex;
	flex-direction: row;
	gap: 1em;
}
/*  a   */
section:nth-of-type(2):has(container) a:first-of-type {
	background-color: transparent;
	border: 0.2em solid var(--color-white);
	border-radius: 0.5em;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	color: var(--color-white);
}
/*  a  */
section:nth-of-type(2):has(h1) a:last-of-type {
	background-color: var(--color-gray-dark);
	border-radius: 0.5em;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	color: var(--color-white);
}


/* stappen - section 2 met content */
/* HOW IT WORKS */

/*  section  */
section:nth-of-type(3):has(div) {
	height: 45em;
	background-color: var(--color-pink-100);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2em;
}
/*  h2  */
section:nth-of-type(3):has(div) h2 {
	color: black;
}
/*  div  */
section:nth-of-type(3):has(div) div {
	background-color: var(--color-white);
	padding: 1.5em 3.5em;
	border-radius: 0.5em;
	margin: 2em;
	text-align: center;

}
/*  p  */
section:nth-of-type(3):has(div) p {
	width: 10em;
}
/*  p  */
section:nth-of-type(3):has(div) p:nth-of-type(1),
section:nth-of-type(3):has(div) p:nth-of-type(2) {
	font-size: var(--font-size-medium);
	font-family: var(--font-family2);
	line-height: var(--line-height);
	color: var(--color-pink-500);
	text-align: center;
	text-transform: uppercase;
}


/* HOW TO EARN POINTS */
/*  class  */
.earn-points {
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	padding-top: 1em;
}
/*  ul  */
.earn-points ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/*  img  */
.earn-points img {
	width: 5em;
}
/*  h2  */
.earn-points h2 {
	color: black;
}
/*  li  */
.earn-points li {
	width: 15em;
	height: 15em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 0.05em solid var(--color-pink-200);
	box-sizing: border-box;
}

/*  li's  */ 
.earn-points li:nth-of-type(2),
.earn-points li:nth-of-type(3),
.earn-points li:nth-of-type(6),
.earn-points li:nth-of-type(7),
.earn-points li:nth-of-type(10),
.earn-points li:nth-of-type(11) {
	background-color: var(--color-pink-100);
}

/*  li's  */ 
.earn-points li:nth-of-type(1),
.earn-points li:nth-of-type(4),
.earn-points li:nth-of-type(5),
.earn-points li:nth-of-type(8),
.earn-points li:nth-of-type(9),
.earn-points li:nth-of-type(12) {
	background-color: var(--color-white);
}

/*  p  */ 
.earn-points li p:first-of-type {
	font-weight: bolder;
	/* werkt nog niet */
}

/* HOW TO USE POINTS */
/*  section  */ 
section:nth-of-type(5):has(ul) {
	background-color: var(--color-white);
	height: 18em;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 2em;
}
/*  ul  */ 
section:nth-of-type(5):has(ul) ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 2em;
}
/*  h2  */ 
section:nth-of-type(5):has(ul) h2,
section:nth-of-type(6):has(ul) h2 {
	color: black;
}
/*  li  */ 
section:nth-of-type(5):has(ul) li {
	background-color: var(--color-pink-100);
	padding: 1.5em 2em;
	border-radius: 0.5em;
	text-align: center;
	margin: 0.3em;
	width: 9.5em;

	border: 0.05em solid var(--color-pink-200);

}
/*  p  */ 
section:nth-of-type(5):has(ul) p:first-child {
	font-size: var(--font-size-large);
	font-family: var(--font-family2);
	line-height: var(--line-height);
	color: black;
	text-align: center;
	text-transform: uppercase;
	width: 4em;
}

/* Redeem points */
/*  section  */ 
section:nth-of-type(6):has(ul) {
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20em;
}
/*  ul  */ 
section:nth-of-type(6):has(ul) ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}
/*  li  */ 
section:nth-of-type(6):has(ul) li {
	width: 6.6em;
	border-radius: 1em;
	border: 0.1em solid lightgray;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 2em 0em;
}
/*  img  */ 
section:nth-of-type(6):has(ul) img {
	width: 3em;
}


/* vip tiers */
/*  class  */ 
.vip-tiers {
    display: flex;
    flex-direction: column;
	align-items: center;
    background-color: var(--color-white);
    height: 83em;
}
/*  section  */ 
.vip-tiers section {
    display: flex;
    flex-direction: column;
	
	max-width: 45em;
	width: 95%;

    border: 0.15em solid var(--color-pink-100);
    border-radius: 0.5em;
    margin: 0.5em;
	height: 25em;
}
/*  ul  */ 
.vip-tiers ul {
    list-style: disc;
    color: var(--color-pink-300);
    padding-left: 3em; 
}
/*  p  */ 
.vip-tiers ul li p {
    text-align: left; 
}
/*  section  */ 
.vip-tiers img {
    width: 4em;
    margin: 0 auto;
}
/*  h3  */ 
.vip-tiers h3,
.vip-tiers h2 {
    color: black;
}
/*  span  */ 
.vip-tiers span {
    text-align: center;
    width: 10em; 
    background-color: rgba(239, 215, 229, 0.5);
    padding: 0.5em 0;
    display: inline-block; 
    border-radius: 0.5em; 
    margin: 0.5em auto; 
}

