/**************/
/* CSS REMEDY */
/**************/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Colors */
:root {
	--color-gray-dark: #393939;
	--color-white: rgb(255, 255, 255);
	--color-pink-100: #f8f1f4;
	--color-pink-200: #e7dae2;
	--color-pink-300: #efd7e5;
	--color-pink-500: #b3848f;
}

/* Fonts styling */
:root {
	--font-family1: "TTChocolatesTrl-Regular";
	--font-family2: "UniversLTStd-Bold";
	--font-family3: "Arial";
	--font-size-small: 12px;
	--font-size-medium: 16px;
	--font-size-large: 25px;
	--line-height: 1.5;
	--letter-spacing: 0.05em;
}

/*********************/
/*       General     */
/*********************/

body {
	font-family: var(--font-family1);
	background-color: var(--color-white);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header nav ol {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 100%;
}

header nav ol li {
	margin: 0 10px;
	display: flex;
	align-items: center;
}

header nav ol li svg {
	width: 10em;
	height: auto;
	color: var(--color-gray-dark);
	text-align: center;
	margin-top: 10px;
}

header p {
	background-color: var(--color-pink-300);
	line-height: var(--line-height);
	font-family: var(--font-family3);
	text-align: center;
	font-size: 13px;
	width: 100%;
}

section ol,
article ol {
	list-style: none;
	padding: 0;
	text-align: center;
}

p {
	font-size: var(--font-size-medium);
	line-height: var(--line-height);
	color: var(--color-gray-dark);
}

h1,
h2 {
	font-size: var(--font-size-large);
	font-family: var(--font-family2);
	line-height: var(--line-height);
	color: var(--color-pink-500);
	text-align: center;
	text-transform: uppercase;
}

button{
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	text-decoration: none;
}


a{
	text-decoration: none;
}


/***************************************/
/*  General article styling products   */
/***************************************/
article{
	border-radius: 0.2em;
	border: 0.1em solid rgba(179, 132, 143, 0.5);

	background-color: var(--color-white);

	display: grid;
	margin: 1em 1.6em 0 1.5em;
	grid-template-rows: 38em max-content max-content;
	grid-template-columns: 1fr max-content;
}

/* img */
article img{
	width: 27em;
}

/* p - 1 */
article li:nth-of-type(2) p{
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: start;

	font-weight: bolder;
	font-size: var(--font-size-medium);
}

/* p - 3 */
article li:nth-of-type(3) p{
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: end;
	margin-top: -2.1em;
}

/* p - 4 */
article li:nth-of-type(4) p{
	margin: .5rem .5rem 0 .5rem;
	display: grid;
	justify-content: start;
}

/* stars review */
article section:has(li){
	margin: .5rem .5rem 0 .5rem;
	display: flex;
	flex-direction: row;
}

/* button */
article button{
	background-color: var(--color-gray-dark);
	color: var(--color-pink-100);
	border-style: none;
	margin-top: 1em;
	padding: 1em 11.5em;
}


/****************/
/*  Home page   */
/****************/

/*  surface plane options   */
section:nth-of-type(1):has(button) {
	/* background-color:hotpink; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	gap: 2em;
	padding-top: 0.6em;
	margin-bottom: 20px;
}

section:nth-of-type(1):has(button) button {
	background-color: var(--color-pink-300);
	color: var(--color-pink-500); 
	padding: 0.5em;
	border: 0.15em solid var(--color-pink-500);
	border-radius: 1em;
}


/*******************************/
/*   Holiday gift guide list  */
/******************************/

/*   section - second op home   */
section:nth-of-type(2):has(h1) {
	background-color: var(--color-pink-200);
	height: 49em;
	gap: 0.8em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2em;
}

/*   image  */
section:nth-of-type(2):has(h1) img {
	max-width: 33em;
	clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);
}

/*   h1  */
section:nth-of-type(2):has(h1) h1 {
	width: 6em;
	margin-top: -6em;
}

/*   p  */
section:nth-of-type(2):has(h1) p {
	text-align: center;
}

/*   a, last type */
section:nth-of-type(2):has(h1) a:last-of-type {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	color: var(--color-gray-dark);
}



/*******************************/
/*  new products list */
/******************************/

/*  section */
section:nth-of-type(3):has(article) {
	background-color: var(--color-pink-200);
	padding-top: 5em;
}


/******************************/
/*  Online exclusive */
/*  Holiday Advent Calendar */
/******************************/

section:nth-of-type(4):has(video) {
	background-color: var(--color-pink-200);
	height: 54em;
	padding-top: 2em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 

section:nth-of-type(4):has(video) li {
	background-color: var(--color-pink-200);
	display: flex;
	justify-content: center;
	padding: 0.3em;
} 

/*   image  */
section:nth-of-type(4):has(video) img {
	max-width: 33em;
} 


section:nth-of-type(4):has(video) h2 {
	width: 10em;
} 

/*   p  */
section:nth-of-type(4):has(video) p {
	text-align: center;
	width: 25.5em;
} 

/*   p  */
section:nth-of-type(4):has(video) li:nth-of-type(3) p {
	text-align: center;
	text-transform: uppercase;
	width: 25.5em;
	size: var(--font-size-medium);
	color: var(--color-pink-500);
	font-family: var(--font-family2);
} 

section:nth-of-type(4):has(video) li:nth-of-type(6) a {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em 1em 1em 1em;
	color: var(--color-gray-dark);
} 

section:nth-of-type(4):has(video) li:nth-of-type(2) video {
	display: none;
} 



/******************************/
/*  Holiday collection */
/*  holiday day paragraph */
/******************************/


section:nth-of-type(5):has(li) {
	background-color: var(--color-pink-200);
	height: 48em;
	padding-top: 1.2em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 

section:nth-of-type(5):has(li) img {
	border-radius: 1.5em;
	max-width: 28em;
	margin: 2em;
} 


section:nth-of-type(5):has(li) ol {
	background-color: var(--color-white);
	border-radius: 1.3em;
	width: 28em;
	padding: 1.5em;
} 

section:nth-of-type(5):has(li) p {
	width: 23em;
	text-align: center;
	padding-bottom: 1em;
} 

section:nth-of-type(5):has(li) a {
	border-radius: 0.5em;
	border-color: transparent;
	border: 0.1em solid var(--color-gray-dark);
	padding: 0.6em 0.9em;
	color: var(--color-gray-dark);
} 

/******************************/
/*        product holiday      */
/******************************/

/*  section */
section:nth-of-type(6):has(article) {
	background-color: var(--color-pink-200);
	padding-top: 1em;
	padding-bottom: 2em;
} 

/* button*/
/* has gebruik */
section:nth-of-type(6):has(article) article:nth-of-type(1) li:nth-of-type(5) button,
section:nth-of-type(6):has(article) article:nth-of-type(2) li:nth-of-type(5) button {
	color: var(--color-gray-dark);
	border: 0.1em solid var(--color-gray-dark);
	background-color: transparent;
	margin-top: 1em;
	font-family: var(--font-family1);
}




/******************************/
/* Kylie gala look */
/******************************/

/*   article  */
section:nth-of-type(7):has(img) {
	background-color: var(--color-white);
	height: 47.8em;
	gap: 0.8em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2em;
}


/*   image  */
section:nth-of-type(7):has(img) {
	max-width: 33em;
}

section:nth-of-type(7):has(img) h2 {
	width: 15em;
}

section:nth-of-type(7):has(img) p {
	width: 15em;
}

/*   a, last type */
section:nth-of-type(7):has(img) a:last-of-type {
	border-radius: 0.5em;
	border-color: transparent;
	border: 0.1em solid var(--color-gray-dark);
	padding: 0.6em 1.1em;
	color: var(--color-gray-dark);
}


/******************************/
/* other products */
/******************************/

/*  section */
section:nth-of-type(8):has(article) {
	background-color: var(--color-pink-200);
	padding-top: 5em 0;

}

/******************************/
/* Shop our IG */
/******************************/

section:nth-of-type(11):has(img) {
	background-color: var(--color-pink-100);
	padding-top: 5em;
	text-align: center; 
  }
  
  section:nth-of-type(11):has(img) h2 {
	margin-bottom: 2em; 
  }
  
  section:nth-of-type(11):has(img) .image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
  }
  
  section:nth-of-type(11):has(img) .image-grid a {
	display: inline-block;
	width: calc(50% - 1.5em);
	max-width: 18em; /* Limiteert de breedte */
  }
  
  section:nth-of-type(11):has(img) .image-grid img {
	border-radius: 2em;
	width: 100%;
	height: auto;
  }






/*  surface plane options   */




/****************/
/*    Footer    */
/****************/

footer {
	background-color: var(--color-pink-100);
	color: var(--color-gray-dark);
	padding: 20px;
}

footer ol{
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2em;
}

footer button {
	background-color: transparent;
	color: var(--color-gray-dark);
	border: 1px solid var(--color-gray-dark);
}

footer ol:nth-of-type(1){
	background-color: green;
	justify-content: start;

}

footer ol:nth-of-type(1) li:first-child{
	width: 19em;
}

footer ol:nth-of-type(2){
	background-color: blue;
	justify-content: center;
}

footer ol:nth-of-type(2) a img{
	height: 1.7em;
}

footer ol:nth-of-type(3){
	background-color: purple;
	justify-content: center;
}

footer ol:nth-of-type(4){
	background-color: hotpink;
	justify-content: center;
}

footer p:last-of-type{
	display: flex;
	justify-content: center;
}

footer input {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	border: 1px solid var(--color-gray-dark);
	background-color: transparent;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 10px;
}


/******************************/
/* Reward page */
/******************************/


/*   article  */
article:nth-of-type(1):has(h1) {
	background-color: #5f554f;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2em;
	gap: 0.7em;
}

/*   image  */
 article:nth-of-type(1):has(h1) img {
	max-width: 33em;
}

/*   h1  */
 article:nth-of-type(1):has(h1) h1 {
	color: var(--color-white);
	width: 12em;
	padding-top: 0.7em;
}

/*   p  */
article:nth-of-type(1):has(h1) p {
	text-align: center;
	color: var(--color-white);
}

/*   a, last type */
article:nth-of-type(1):has(h1) container {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

article:nth-of-type(1):has(h1) a:first-of-type {
	background-color: transparent;
	border: 0.2em solid var(--color-white);
	border-radius: 0.5em;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	color: var(--color-white);
}


article:nth-of-type(1):has(h1) a:last-of-type {
	background-color: var(--color-gray-dark);
	border-radius: 0.5em;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	color: var(--color-white);
}
