/**************/
/* CSS REMEDY */
/**************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:rgb(57, 57, 57);
	--color-text-2: rgb(179, 132, 143);





	--color-background1:#eee;
	--color-background2: #EFD7E5;
}

/*       General     */
/*********************/




/****************/
/*  Home page   */
/****************/
body {
	font-family: "TTChocolatesTrl-Regular";
	background-color: #f9f9f9;
  }

h1{
	font-family: "UniversLTStd-Bold";
	color: var(--color-text-2);
}
  
  /* a.logo {
	display: block;
	width: 200px;
	margin: 20px auto;
	text-align: center;
  }
  
  a.logo svg {
	fill: #000;
	width: 100%;
	height: auto;
	transition: fill 0.3s ease;
  }
  
  a.logo:hover svg {
	fill: #ff69b4; /* Roze kleur bij hover */
  


/****************/
/*  reward page */
/****************/